@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

#id-header {
    display: flex;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    transition: transform 0.5s ease-in-out;
}
#id-header.halfScrolled {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    animation: slideUp 0.5s ease-in-out;
    transform: translateY(-100%);
}
#id-header.scrolled {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    animation: slideDown 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    list-style-type: none;
}
header nav ul li{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header nav ul li:first-child {
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(0 0 2px white);
}

header nav ul li:not(:first-child) {
    opacity: 0.5;
    transition: transform 0.2s ease-in-out, opacity 0.2s;
}

header nav ul li:not(:first-child):hover {
    opacity: 1;
    transform: scale(1.1);
}

body::-webkit-scrollbar{
    display: none;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300vh;
    background-image: url(../img/background_vinho.jpg);
    background-size: 300% 300%;
    background-position: center;
    backdrop-filter: blur(20px);
    -ms-overflow-style: none;
}

main {
    width: 100vw;
    height: 200vh;
    display: flex;
    position: absolute;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15vh;
    /* Ajuste para não ficar atrás do header */
}

main ul {
    font-size: xx-large;
    display: flex;
    gap: 4vw;
    list-style-type: none;
}

main ul li a i {
    margin-top: 1.5rem;
    color: white;
    transition: transform 0.5s ease-in-out, color 0.2s;
}

main ul li a i:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px white);
}

main img {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    width: 20vw;
    /* Escalável conforme o tamanho da tela */
    height: auto;
}
#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
#sobre-mim{
    width: 95vw;
    height: 100vh;
}
.conteudo-sobre-mim{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.089));
    */border-radius: 5px;
    padding: 30px;
    margin-top: 11vh;
}
.descricao-sobre-mim{
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#sobre-mim img{
    margin-right: 1vw;
    border: none;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 5%;
    width: 200px;
    height: 200px;

}
/* Media Queries para diferentes tamanhos de tela */
@media (max-width: 768px) {
    header {
        height: 12vh;
    }

    header nav ul {
        gap: 5vw;
    }

    header nav ul li a {
        font-size: 1.2rem;
    }

    body>main>img {
        width: 40%;
    }
}

@media (max-width: 480px) {
    header nav ul {
        flex-direction: row;
        gap: 2vh;
    }

    header nav ul li a {
        font-size: 1rem;
    }

    body main h1,
    h2 {
        font-size: 1rem;
    }

    body main img {
        width: 35vw;
    }
}

@media (min-width: 1024px) {
    header nav ul li a {
        font-size: 1rem;
    }

    body img {
        width: 15%;
        margin-bottom: 1%;
    }

    body h1,
    h2 {
        font-size: medium;
    }
}